.top-title{
    text-align: center;
    text-shadow: 2.5px 2.5px rgba(0 ,0 ,0 ,0.35);
    font-size: 90px;
    font-style: normal;
    color: rgb(227, 18, 234);
    margin-right: 60px;
}

.p{
    background-image: url("Portfolio Background.jpg");
    text-align: center;
    text-shadow: 1.5px 1.5px rgba(0 ,0 ,0 ,0.35);
    font-size: 42px;
    color: rgba(14, 71, 23, 0.749);
    font-style: italic;
    background-color:  rgb(212, 70, 70);
    opacity: 1;
}

.detailed-page{
    border: none;
    background-color: rgba(255, 127, 80, 0.779);
    color: violet ;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
}

.detailed-page:hover{
    opacity: 0.5;
}

body, html {
    height: 100%;
  }

.b{
  background-image: url("testbg.jpg");
  height: 100%;
  background-color: black;
  background-position: center;
  background-repeat: round;
  background-size: cover;
}
.b{
    background-image: url("testbg.jpg");
  height: 1%;
  background-position: justified;
  background-repeat: no-repeat;
  background-size: cover;
}

.next-button{
    margin-left: 1000px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 255, 122);
    color: rgba(103, 6, 19, 0.97);
    border-color: rgba(255, 255, 255, 0.432);
    padding-top: 2.85px;
    padding-bottom: 2.4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0 ,0 ,0 ,0.35);
    margin: 5.7px;
    text-align: center;
    transition: 0.4s;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.next-button:hover{
    opacity: 0.56;
    box-shadow: 1.2px 0.25px 033px rgba(207, 83, 83, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.next-button:active{
    opacity:0.5;
    animation-delay: 5s;
}
.folio{
    background-color: rgb(103, 46, 5);
    color-scheme: dark;
    font-size: 50px;
    color: bisque;
    text-shadow: 2.78px 4.56px 4.23px rgba(8, 8, 8, 0.97);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: example;
    animation-duration: 7s;
}
.one{
    background-image: "user.jpg";
}

  @keyframes a {
    from {background-color: goldenrod;}
    to {background-color: rgb(13, 13, 2);}
  }
  .header {
    animation-name: a,a1,a2,a3,a4;
    animation-duration: 5.8s;
  }
  @keyframes a1 {
    from {background-color: yellow;}
    to {background-color: rgba(18, 192, 85, 0.82);}
  }
  .header{
    background-color:  rgba(81, 27, 163, 0.82);
    animation-name: a1;
    animation-duration: 5.8s;
  }
  @keyframes a2 {
    from {background-color: rgba(18, 192, 85, 0.82);}
    to {background-color: rgba(0, 128, 255, 0.868);}
  }
  .header{
    background-color:  rgba(192, 110, 68, 0.868);
    animation-name: a2;
    animation-duration: 5.8s;
  }
  @keyframes a {
    from {background-color: blue;}
    to {background-color: rgb(224, 99, 15);}
    to {background-color: aliceblue;}
  }
  .header{
    background-color:  rgba(69, 239, 72, 0.598);
    animation-name: a3;
    animation-duration: 5.8s;
  }
  @keyframes a4 {
    from {background-color:greenyellow ;}
    to {background-color: rgba(255, 255, 0, 0.043);}
  }
  .header{
    background-color:  rgba(69, 239, 72, 0.598);
    animation-name: a4;
    animation-duration: 5.8s;
  }

  .total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*  flex-wrap: wrap-reverse;*/
  }

  .pp{
    color: rgba(101, 236, 246, 0.854);
    font-size: 45px;
    font-family: cursive;
    font-weight: lighter;
    text-align: center;
    margin: 10px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: none;
    width: 450px;
  }
  .button{
    background-color: rgb(98,54,134);
    border-bottom-color: rgb(98,54,134);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    align-content: center;


    transition: 0.15s;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
}
.button:hover{
    box-shadow: 5px 5.5px 4px rgba(239, 57, 96, 0.651);
    text-shadow: 2px 2.5px 3px rgba(18, 192, 85, 0.82);
    opacity: 0.95;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    margin-top: 2.5px;
}

.box{
    background-image: url("box-back.jpg");
    background-size: 500px;
    background-color: aqua;
}

.giffiy{
    background-position: 50px;
    border-left: 500px;

}